* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  /* font-family: 'Peddana', serif; */
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  overflow-x: hidden;
}


/** Navbar **/
.navbar {
  color: #fff;
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: -8rem;
  z-index: 10;
  padding: 1rem 3rem;
  transition: height 0.5s;
  animation: animateNavbar 2s ease 5s forwards;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar.change {
  height: 100vh;
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.change .line-1 {
  transform: translate(100%,1rem) rotate(-35deg);
  transform-origin: right;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-size: 2rem;
  color: #fff;
  color: #aaa9ad;
  margin: 2rem 0;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 4rem;
  }
}


.nav-link:hover {
  color: #dc9778;
}
/** End of Navbar **/


/** Section Heading **/
.section-heading {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #b76379; */
  color: #dc9778;
  text-align: center;
  opacity: 1;
  text-shadow: 2rem 2rem 4rem #aaa;
}

@media (min-width: 576px) {
  .section-heading {
    font-size: 6rem;
  }
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 8rem;
  }
}
/** End of Section Heading **/


/***** Section 1 Splash Page *****/
.section-1 {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
}

.rowTop {
  display: flex;
  justify-content: space-evenly;
}

.rowMid {
  display: flex;
  justify-content: space-around;
}

.strap {
  display: flex;
  justify-content: center;
}

.rowBottom {
  display: flex;
  justify-content: space-evenly;
}

/** Hexagon 1 Admin **/
.hexagon1 {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #000000;
  margin: 57.74px 0;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
  border-left: solid 1px #aaa9ad;
  border-right: solid 1px #aaa9ad;
  opacity: 0;
  animation: opacityOn 4.25s ease-out 1s;
  display: flex;
}

.hexagon1:before,
.hexagon1:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 28.2893px;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
}

.hexagon1:before {
  top: -70.7107px;
  border-top: solid 1.4142px #aaa9ad;
  border-right: solid 1.4142px #aaa9ad;
}

.hexagon1:after {
  bottom: -70.7107px;
  border-bottom: solid 1.4142px #aaa9ad;
  border-left: solid 1.4142px #aaa9ad;
}

/*cover up extra shadows*/
.hexagon1 span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:198px;
  height:114.3154px;
  z-index: 2;
  background: inherit;
  color: #dc9778;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  text-transform: uppercase;
}
/** End of AdminHexagon **/

/** Hexagon 2 Finance **/
.hexagon2 {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #000000;
  margin: 57.74px 0;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
  border-left: solid 1px #aaa9ad;
  border-right: solid 1px #aaa9ad;
  opacity: 0;
  animation: opacityOn 3.5s ease-out 1.5s;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 28.2893px;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
}

.hexagon2:before {
  top: -70.7107px;
  border-top: solid 1.4142px #aaa9ad;
  border-right: solid 1.4142px #aaa9ad;
}

.hexagon2:after {
  bottom: -70.7107px;
  border-bottom: solid 1.4142px #aaa9ad;
  border-left: solid 1.4142px #aaa9ad;
}

/*cover up extra shadows*/
.hexagon2 span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:198px;
  height:114.3154px;
  z-index: 2;
  background: inherit;
  color: #dc9778;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  text-transform: uppercase;
}
/** End of Finance Hexagon **/

/** Hexagon 3 Main **/
.hexagon3 {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #000000;
  margin: 86.60px 0;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
  border-left: solid 1px #aaa9ad;
  border-right: solid 1px #aaa9ad;
  opacity: 0;
  animation: opacityStayOn 30s 0s forwards;
  display: flex;
}

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 42.9340px;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
}

.hexagon3:before {
  top: -106.0660px;
  border-top: solid 1.4142px #aaa9ad;
  border-right: solid 1.4142px #aaa9ad;
}

.hexagon3:after {
  bottom: -106.0660px;
  border-bottom: solid 1.4142px #aaa9ad;
  border-left: solid 1.4142px #aaa9ad;
}

/*cover up extra shadows*/
.hexagon3 span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:298px;
  height:172.0504px;
  z-index: 2;
  background: inherit;
  /* color: #fff; */
  color: #dc9778;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Main Hexagon Headings **/
.heading-1 {
  position: absolute;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  opacity: 0;
  animation: opacityOn 5s 0s;
}

.heading-2 {
  position: absolute;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  opacity: 0;
  animation: opacityStayOn 10s 5s forwards;
}

/** End of Main Hexagon **/

/** Hexagon 4 HR & Recruitment **/
.hexagon4 {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #000000;
  margin: 57.74px 0;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
  border-left: solid 1px #aaa9ad;
  border-right: solid 1px #aaa9ad;
  opacity: 0;
  animation: opacityOn 2s ease-out 3s;
}

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 28.2893px;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
}

.hexagon4:before {
  top: -70.7107px;
  border-top: solid 1.4142px #aaa9ad;
  border-right: solid 1.4142px #aaa9ad;
}

.hexagon4:after {
  bottom: -70.7107px;
  border-bottom: solid 1.4142px #aaa9ad;
  border-left: solid 1.4142px #aaa9ad;
}

/*cover up extra shadows*/
.hexagon4 span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:198px;
  height:114.3154px;
  z-index: 2;
  background: inherit;
  /* color: #fff; */
  color: #dc9778;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  text-transform: uppercase;
}
/** End of HR & Recruitment Hexagon **/

/** Hexagon 5 Events **/
.hexagon5 {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #000000;
  margin: 57.74px 0;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
  border-left: solid 1px #aaa9ad;
  border-right: solid 1px #aaa9ad;
  opacity: 0;
  animation: opacityOn 2.75s ease-out 2.25s;
}

.hexagon5:before,
.hexagon5:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 28.2893px;
  box-shadow: 0 0 20px rgba(170,169,173,0.6);
}

.hexagon5:before {
  top: -70.7107px;
  border-top: solid 1.4142px #aaa9ad;
  border-right: solid 1.4142px #aaa9ad;
}

.hexagon5:after {
  bottom: -70.7107px;
  border-bottom: solid 1.4142px #aaa9ad;
  border-left: solid 1.4142px #aaa9ad;
}

/*cover up extra shadows*/
.hexagon5 span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:198px;
  height:114.3154px;
  z-index: 2;
  background: inherit;
  color: #dc9778;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  text-transform: uppercase;
}
/** End of Events Hexagon **/

@keyframes opacityOn {
  0% {
      opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes opacityStayOn {
  0% {
      opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
      opacity: 1;
  }
}



/** Shining Text Animation **/
#strapline {
  position: relative;
  text-transform: uppercase;
  font-size: 2.8em;
  opacity: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #dc9778, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s ease 5s forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
} 

@keyframes animate {
  0% {
    background-position: -500%;
    opacity: 1;
  }
  100% {
    background-position: 500%;
  }
}
/** Shining Text Animation End **/

/** End of Section 1 **/





/** Section 2 - About Plan Bee **/
.section-2 {
  width: 100%;
  /* height: 100vh; */
  padding: 5rem 0;
}

.services {
  margin: 5rem 10rem 0 10rem;
  color: silver;
  font-size: 1.5rem;
  text-align: justify;
}

@media (min-width: 500px) {
  .services {
    font-size: 1.75rem;
  }
}

.grid {
  margin-top: 5rem;
}

#hexGrid {
display: flex;
flex-wrap: wrap;
width: 90%;
margin: 0 auto;
overflow: hidden;
font-family: sans-serif;
list-style-type: none;
}

.hex {
position: relative;
visibility: hidden;
outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
transition: all 0.5s;
backface-visibility: hidden;
will-change: transform;
transition: all 0.5s;
}
.hex::after{
content:'';
display:block;
padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
position: absolute;
width:96%;
padding-bottom: 110.851%; /* =  width / sin(60) */
margin: 2%;
overflow: hidden;
visibility: hidden;
outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
-webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transition: all 0.5s;
}
.hexIn * {
position: absolute;
visibility: visible;
outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT ***/
.hex h1, .hex p {
width: 100%;
padding: 5%;
box-sizing:border-box;
font-weight: 300;
opacity: 1;
}

#demo1 {
color: #dc9778;
text-transform: capitalize;
text-align: center;
bottom: 50%;
padding-top:50%;
font-size: 1.9em;
z-index: 1;
font-weight: 700;
}
.hex h1:before, .hex h1:after {
display: inline-block;
margin: 0 0.5em;
width: 0.25em;
height: 0.03em;
background: #ffffff;
content: '';
vertical-align: middle;
transition: all 0.3s;
text-align:center;
}

#demo2 {
top: 50%;
text-align: center;
text-transform: uppercase;
font-weight: 400;
font-size: 1.3rem;
color: #fff;
  
}

.img {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-position: center center;
background-size: cover;
overflow: hidden;
opacity: 0.3;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
opacity: 0;
transition: opacity 0.5s;
}
.img:before {
/* background: rgba(22, 103, 137, 0.3) */
background: rgba(0, 0, 0, 0.3)
}
.img:after {
background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

/*** HOVER EFFECT  ********/
/* .hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
} */


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
opacity: 1;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION ****/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
#hexGrid{
  padding-bottom: 4.4%
}
.hex {
  width: 20%; /* = 100 / 5 */
}
.hex:nth-child(9n+6){ /* first hexagon of even rows */
  margin-left:10%;  /* = width of .hex / 2  to indent even rows */
}
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
#hexGrid{
  padding-bottom: 5.5%;
  font-size: 13px;
}
.hex {
  width: 25%; /* = 100 / 4 */
}
.hex:nth-child(7n+5){ /* first hexagon of even rows */
  margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
}
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
#hexGrid{
  padding-bottom: 7.4%;
  font-size: 14px;
}
.hex {
  width: 33.333%; /* = 100 / 3 */
}
.hex:nth-child(5n+4){ /* first hexagon of even rows */
  margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
}
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
#hexGrid{
  padding-bottom: 11.2%;
  font-size: 12px;
}
.hex {
  width: 50%; /* = 100 / 3 */
}
.hex:nth-child(3n+3){ /* first hexagon of even rows */
  margin-left:25%;  /* = width of .hex / 2  to indent even rows */
}
}

@media (max-width: 400px) {
  #hexGrid {
      font-size: 8px;
  }
}
/** End of Section 2 **/





/** Section 3 - About Me **/
.section-3 {
  width: 100%;
  padding: 5rem 0;
}

.flexWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flexCol {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.bio {
  color: silver;
  font-size: 1.75rem;
  text-align: justify;
}

.bioPic {
  width: 100%;
  height: auto;
  max-width: 400px;
  /* set max-width for smaller screens */
}

@media (max-width: 767px) {
  .flexWrap {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .flexWrap {
    flex-direction: row;
  }
  
  .flexCol {
    width: 50%;
    margin: 50px;
  }

  .bioPic {
    width: 100%;
    max-width: none;
  }
}

/** End of Section 3 **/

/** Section 4 - Testimonials Section **/
.section-4 {
  width: 100%;
  /* height: 75vh; */
  padding: 5rem 0;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/** Responsive Media Queries **/
@media (min-width: 576px) {
  .testimonials {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .testimonials {
    flex-direction: row;
  }

  .flip-card {
    flex-basis: 400px;
  }
}

@media (min-width: 1240px) {
  .testimonials {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  background-color: #000;
  color: silver;
  border: 1px solid #fff;
  font-size: 1.75rem;
}

.flip-card-front-left {
  margin: 10px;
  padding: 10px;
}

.flip-card-front-right {
  margin: 10px;
  padding: 10px;
}

/* Style the back side */
.flip-card-back {
  background-color: #000;
  color: silver;
  transform: rotateY(180deg);
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.75rem;
  overflow: auto;
} 
/** End of Section 4 **/


/** Section 5 - Contact **/
.section-5 {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
}

.section-5 h1 {
  font-size: 3rem;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  display: flex;
  margin-bottom: 8rem;
}

.contact-details div {
  width: 15rem;
  text-align: center;
  margin: 4rem;
}

.contact-details i {
  font-size: 5rem;
  color: #dc9778;
}

.contact-details h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #aaa9ad;
}

.contact-details p {
  font-size: 1.6rem;
  color: #aaa9ad;
}

.contact-wrapper h1 {
  font-size: 1.8rem;
  color: #aaa9ad;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form {
  width: 40rem;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: white;
  border: none;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.contact-form input[type="submit"] {
  background-color: #dc9778;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff7f4f;
}

@media (min-width: 576px) {
  .section-5 h1 {
    font-size: 5.8rem;
  }

  .contact-details div {
    width: 15rem;
  }

  .contact-form {
    width: 50rem;
  }
  .contact-wrapper h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .section-5 h1 {
    font-size: 8rem;
  }

  .contact-details div {
    width: 18rem;
  }

  .contact-form {
    width: 60rem;
  }
  .contact-wrapper h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .contact-details div {
    width: 25rem;
  }

  .contact-form {
    width: 70rem;
  }
}

/** End of Section 5 **/


/** Footer **/
.footer {
  width: 100%;
  height: 12rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.copyright {
  font-size: 1.5rem;
  color: #aaa9ad;
}
/** End of Footer **/